<% include partical/header.ejs %>
<div class="container page-content " style="background: #fff;">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-8">
                <form method="post" action="/create-group" class="form-horizontal" enctype="multipart/form-data"
                      style="padding: 20px 0px;">
                    <div class="form-group">
                        <input name="cover" id="addImageGroup" type="file" required style="display: none;">
                        <img src="" class="img-responsive" id="addImageGroup1">
                        <button style="cursor: pointer" type="button" class="btn btn-success"
                                onclick="document.getElementById('addImageGroup').click();">Add Cover
                        </button>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" required name="name" placeholder="name group">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" required name="description"
                               placeholder="description group">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="row">
                <form method="get" action="">
                    <div class="col-sm-8">
                        <div class="form-group"><input type="text" name="search" placeholder="search page"
                                                       class="form-control"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <% if(typeof group !== 'undefined' && group.length>0){ for(var i=0; i<group.length; i++){ %>
                <div class="col-md-3">
                    <div class="contact-box center-version">
                        <a href="/group/<%= group[i]._id %>">
                            <img alt="image" class="img-circle" src="<%= group[i].cover %>">
                            <h3 class="m-b-xs"><strong><%= group[i].name %></strong></h3>

                            <div class="font-bold"></div>
                        </a>
                        <div class="contact-box-footer">
                            <div class="m-t-xs btn-group">
                                <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i>Detail Group</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }} %>

            </div>
        </div><!-- end left posts-->
    </div>
</div>

<% include partical/footer.ejs %>