.search .fa-search {
    position: absolute;
    top: 10px;
    font-size: 15px;
    right: 14px;
    color: #A5A4A4;
}
.search{
    position: absolute;
    margin-top: 10px;
}
.search input{
    width: 300px !important;
}
li{list-style: none;}

