<script src="/socket.io.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/customer.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/jquery.timeago.js"></script>

<script type="text/javascript">
    if (window.location.hash == '#_=_') {
        history.replaceState
            ? history.replaceState(null, null, window.location.href.split('#')[0])
            : window.location.hash = '';
    }
</script>

<!--<script src="/js/customjs.js"></script>-->
<script src="/main.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>