<div class="chat-sidebar">
    <div class="list-group text-left">
        <p class="text-center visible-xs"><a href="#" class="hide-chat btn btn-success">Hide</a></p>
        <p class="text-center chat-title">Online users</p>
        <% if(friend.length >0){%>
        <% for(var i=0; i< friend.length; i++){ %>
        <a href="/chat" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="<%= friend[i].local.image %>" class="img-chat img-thumbnail">
            <span class="chat-user-name"><%= friend[i].local.name %></span>
        </a>
        <% } %>
        <% }else{ %>

        <% } %>
    </div>
</div>