<div style="position: absolute; left: 100px; top: 0px; z-index: 10" id="select-icon-home">
        <table class="table">
            <tbody>
            <tr>
                <td onclick="InsertIcon('/icon/1f60a.png')"><img src="/icon/1f60a.png"></td>
                <td onclick="InsertIcon('/icon/1f60b.png')"><img src="/icon/1f60b.png"></td>
                <td onclick="InsertIcon('/icon/1f60c.png')"><img src="/icon/1f60c.png"></td>
                <td onclick="InsertIcon('/icon/1f60d.png')"><img src="/icon/1f60d.png"></td>
                <td onclick="InsertIcon('/icon/1f60e.png')"><img src="/icon/1f60e.png"></td>
                <td onclick="InsertIcon('/icon/1f60f.png')"><img src="/icon/1f60f.png"></td>
                <td onclick="InsertIcon('/icon/1f61a.png')"><img src="/icon/1f61a.png"></td>
                <td onclick="InsertIcon('/icon/1f61b.png')"><img src="/icon/1f61b.png"></td>
                <td onclick="InsertIcon('/icon/1f61c.png')"><img src="/icon/1f61c.png"></td>
            </tr>
            <tr>
                <td onclick="InsertIcon('/icon/1f61d.png')"><img src="/icon/1f61d.png"></td>
                <td onclick="InsertIcon('/icon/1f61e.png')"><img src="/icon/1f61e.png"></td>
                <td onclick="InsertIcon('/icon/1f61f.png')"><img src="/icon/1f61f.png"></td>
                <td onclick="InsertIcon('/icon/1f62a.png')"><img src="/icon/1f62a.png"></td>
                <td onclick="InsertIcon('/icon/1f62b.png')"><img src="/icon/1f62b.png"></td>
                <td onclick="InsertIcon('/icon/1f62c.png')"><img src="/icon/1f62c.png"></td>
                <td onclick="InsertIcon('/icon/1f62d.png')"><img src="/icon/1f62d.png"></td>
                <td onclick="InsertIcon('/icon/1f62e.png')"><img src="/icon/1f62e.png"></td>
                <td onclick="InsertIcon('/icon/1f62f.png')"><img src="/icon/1f62f.png"></td>
            </tr>
            <tr>
                <td onclick="InsertIcon('/icon/1f600.png')"><img src="/icon/1f600.png"></td>
                <td onclick="InsertIcon('/icon/1f601.png')"><img src="/icon/1f601.png"></td>
                <td onclick="InsertIcon('/icon/1f602.png')"><img src="/icon/1f602.png"></td>
                <td onclick="InsertIcon('/icon/1f603.png')"><img src="/icon/1f603.png"></td>
                <td onclick="InsertIcon('/icon/1f604.png')"><img src="/icon/1f604.png"></td>
                <td onclick="InsertIcon('/icon/1f605.png')"><img src="/icon/1f605.png"></td>
                <td onclick="InsertIcon('/icon/1f606.png')"><img src="/icon/1f606.png"></td>
                <td onclick="InsertIcon('/icon/1f607.png')"><img src="/icon/1f607.png"></td>
                <td onclick="InsertIcon('/icon/1f636.png')"><img src="/icon/1f636.png"></td>
            </tr>
            <tr>
                <td onclick="InsertIcon('/icon/1f609.png')"><img src="/icon/1f609.png"></td>
                <td onclick="InsertIcon('/icon/1f610.png')"><img src="/icon/1f610.png"></td>
                <td onclick="InsertIcon('/icon/1f611.png')"><img src="/icon/1f611.png"></td>
                <td onclick="InsertIcon('/icon/1f612.png')"><img src="/icon/1f612.png"></td>
                <td onclick="InsertIcon('/icon/1f613.png')"><img src="/icon/1f613.png"></td>
                <td onclick="InsertIcon('/icon/1f614.png')"><img src="/icon/1f614.png"></td>
                <td onclick="InsertIcon('/icon/1f615.png')"><img src="/icon/1f615.png"></td>
                <td onclick="InsertIcon('/icon/1f616.png')"><img src="/icon/1f616.png"></td>
                <td onclick="InsertIcon('/icon/1f617.png')"><img src="/icon/1f617.png"></td>
            </tr>
            <tr>
                <td onclick="InsertIcon('/icon/1f618.png')"><img src="/icon/1f618.png"></td>
                <td onclick="InsertIcon('/icon/1f619.png')"><img src="/icon/1f619.png"></td>
                <td onclick="InsertIcon('/icon/1f621.png')"><img src="/icon/1f621.png"></td>
                <td onclick="InsertIcon('/icon/1f622.png')"><img src="/icon/1f622.png"></td>
                <td onclick="InsertIcon('/icon/1f623.png')"><img src="/icon/1f623.png"></td>
                <td onclick="InsertIcon('/icon/1f624.png')"><img src="/icon/1f624.png"></td>
                <td onclick="InsertIcon('/icon/1f625.png')"><img src="/icon/1f625.png"></td>
                <td onclick="InsertIcon('/icon/1f626.png')"><img src="/icon/1f626.png"></td>
                <td onclick="InsertIcon('/icon/1f626.png')"><img src="/icon/1f626.png"></td>
            </tr>
            <tr>
                <td onclick="InsertIcon('/icon/1f627.png')"><img src="/icon/1f627.png"></td>
                <td onclick="InsertIcon('/icon/1f628.png')"><img src="/icon/1f628.png"></td>
                <td onclick="InsertIcon('/icon/1f629.png')"><img src="/icon/1f629.png"></td>
                <td onclick="InsertIcon('/icon/1f630.png')"><img src="/icon/1f630.png"></td>
                <td onclick="InsertIcon('/icon/1f631.png')"><img src="/icon/1f631.png"></td>
                <td onclick="InsertIcon('/icon/1f642.png')"><img src="/icon/1f642.png"></td>
                <td onclick="InsertIcon('/icon/1f633.png')"><img src="/icon/1f633.png"></td>
                <td onclick="InsertIcon('/icon/1f263a.png')"><img src="/icon/263a.png"></td>
                <td onclick="InsertIcon('/icon/1f635.png')"><img src="/icon/1f635.png"></td>
            </tr>
            </tbody>
        </table>
    </div>